@page "/CalculatorExample"

<MudToolBar>
    <MudButton Icon="@Icons.Material.Filled.Numbers" Variant="Variant.Filled" OnClick="AddNumber">Add a Number Node</MudButton>
    <MudButton Icon="@Icons.Material.Filled.Calculate" Variant="Variant.Filled" OnClick="AddOperator">Add an Operator Node</MudButton>
    <MudButton Icon="@Icons.Material.Filled.Receipt" Variant="Variant.Filled" OnClick="AddResult">Add a Result Node</MudButton>
</MudToolBar>
<div style="display:flex;flex-direction:row;width:100%; height:100%">
    <DiagramContainer Diagram="_diagram">
        <SaveButton></SaveButton>
        <LoadButton OnDiagramLoaded="OnDiagramLoaded"></LoadButton>
    </DiagramContainer>
</div>

@code {
    Diagram _diagram = new();

    private void AddNumber(MouseEventArgs obj)
    {
        var node = new NumberNode.NumberNode();
        node.SetPosition(200, 200 * _diagram.AllNodes.Count);
        _diagram.AddNode(node);
    }

    private void AddOperator(MouseEventArgs obj)
    {
        var node = new OperatorNode.OperatorNode();
        node.SetPosition(400, 200 * _diagram.AllNodes.Count);
        _diagram.AddNode(node);
    }

    private void AddResult(MouseEventArgs obj)
    {
        var node = new ResultNode.ResultNode();
        node.SetPosition(600, 200 * _diagram.AllNodes.Count);
        _diagram.AddNode(node);
    }

    private void OnDiagramLoaded(Diagram obj)
    {
        _diagram = obj;
        _diagram.NotifyRedraw();
        StateHasChanged();
    }

}