<MudSimpleTable Elevation="0" Style="overflow-x: auto;">
    <thead>
    <tr>
        <th>Events</th>
        <th>Description</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>@nameof(IGroupContainerEvents.OnGroupAdded)</td>
        <td>Event triggered when a group is added.</td>
        <td></td>
    </tr>
    <tr>
        <td>@nameof(IGroupContainerEvents.OnGroupRemoved)</td>
        <td>Event triggered when a group is removed.</td>
        <td></td>
    </tr>
    <tr>
        <td>@nameof(IGroupContainerEvents.OnGroupPointerDown)</td>
        <td>Event triggered when the pointer is down on a nested group.</td>
        <td></td>
    </tr>
    <tr>
        <td>@nameof(IGroupContainerEvents.OnGroupPointerUp)</td>
        <td> Event triggered when the pointer is up on a nested group.</td>
        <td></td>
    </tr>
    <tr>
        <td>@nameof(IGroupContainerEvents.OnGroupPointerMove)</td>
        <td>Event triggered when the pointer moves within a group.</td>
        <td></td>
    </tr>
    <tr>
        <td>@nameof(IGroupContainerEvents.OnGroupPointerEnter)</td>
        <td>Event triggered when the pointer enters a group.</td>
        <td></td>
    </tr>
    <tr>
        <td>@nameof(IGroupContainerEvents.OnGroupPointerLeave)</td>
        <td>Event triggered when the pointer exits a group.</td>
        <td></td>
    </tr>
    <tr>
        <td>@nameof(IGroupContainerEvents.OnGroupWheel)</td>
        <td>Event triggered when the wheel is scrolled on a group.</td>
        <td></td>
    </tr>
    <tr>
        <td>@nameof(IGroupContainerEvents.OnGroupClicked)</td>
        <td>Event triggered when a group is clicked.</td>
        <td></td>
    </tr>
    <tr>
        <td>@nameof(IGroupContainerEvents.OnGroupDoubleClicked)</td>
        <td>Event triggered when a group is double-clicked.</td>
        <td></td>
    </tr>
    <tr>
        <td>@nameof(IGroupContainerEvents.NotifyGroupAdded)</td>
        <td>Notifies that a group was added.</td>
        <td></td>
    </tr>
    <tr>
        <td>@nameof(IGroupContainerEvents.NotifyGroupRemoved)</td>
        <td>Notifies that a group was removed.</td>
        <td></td>
    </tr>
    <tr>
        <td>@nameof(IGroupContainerEvents.NotifyGroupPointerDown)</td>
        <td>Notifies that the pointer is down on a nested group.</td>
        <td></td>
    </tr>
    <tr>
        <td>@nameof(IGroupContainerEvents.NotifyGroupPointerUp)</td>
        <td>Notifies that the pointer is up on a group.</td>
        <td></td>
    </tr>
    <tr>
        <td>@nameof(IGroupContainerEvents.NotifyGroupPointerEnter)</td>
        <td>Notifies that the pointer has entered a group.</td>
        <td></td>
    </tr>
    <tr>
        <td>@nameof(IGroupContainerEvents.NotifyGroupPointerLeave)</td>
        <td>Notifies that the pointer has exited a group.</td>
        <td></td>
    </tr>
    <tr>
        <td>@nameof(IGroupContainerEvents.NotifyGroupWheel)</td>
        <td>Notifies that the mouse wheel has scrolled within a group.</td>
        <td></td>
    </tr>
    <tr>
        <td>@nameof(IGroupContainerEvents.NotifyGroupClicked)</td>
        <td>Notifies that a nested group was clicked.</td>
        <td></td>
    </tr>
    <tr>
        <td>@nameof(IGroupContainerEvents.NotifyGroupDoubleClicked)</td>
        <td>Notifies that that a nested group was double clicked.</td>
        <td></td>
    </tr>
    </tbody>
</MudSimpleTable>

@code {

}