<MudSimpleTable Elevation="0" Style="overflow-x: auto;">
    <thead>
    <tr>
        <th>Events</th>
        <th>Description</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>@(nameof(ILayerContainerEvents.OnLayerAdded))</td>
        <td>Event triggered when a layer is added to the diagram.</td>
        <td></td>
    </tr>
    <tr>
        <td>@(nameof(ILayerContainerEvents.OnLayerRemoved))</td>
        <td>Event triggered when a layer is removed from the diagram.</td>
        <td></td>
    </tr>
    <tr>
        <td>@(nameof(ILayerContainerEvents.NotifyLayerAdded))</td>
        <td>Triggers the @(nameof(ILayerContainerEvents.OnLayerAdded)) event.</td>
        <td></td>
    </tr>
    <tr>
        <td>@(nameof(ILayerContainerEvents.NotifyLayerRemoved))</td>
        <td>Triggers the @(nameof(ILayerContainerEvents.OnLayerRemoved)) event.</td>
        <td></td>
    </tr>
    </tbody>
</MudSimpleTable>

@code {

}