<MudSimpleTable Elevation="0" Style="overflow-x: auto;">
    <thead>
    <tr>
        <th>Events</th>
        <th>Description</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>@nameof(ILinkContainerEvents.OnLinkAdded)</td>
        <td>Event triggered when a link is added.</td>
        <td></td>
    </tr>
    <tr>
        <td>@nameof(ILinkContainerEvents.OnLinkRemoved)</td>
        <td>Event triggered when a link is removed.</td>
        <td></td>
    </tr>
    <tr>
        <td>@nameof(ILinkContainerEvents.OnLinkPointerDown)</td>
        <td>Event triggered when the pointer is down on a nested link.</td>
        <td></td>
    </tr>
    <tr>
        <td>@nameof(ILinkContainerEvents.OnLinkPointerUp)</td>
        <td> Event triggered when the pointer is up on a nested link.</td>
        <td></td>
    </tr>
    <tr>
        <td>@nameof(ILinkContainerEvents.OnLinkPointerMove)</td>
        <td>Event triggered when the pointer moves within a link.</td>
        <td></td>
    </tr>
    <tr>
        <td>@nameof(ILinkContainerEvents.OnLinkPointerEnter)</td>
        <td>Event triggered when the pointer enters a link.</td>
        <td></td>
    </tr>
    <tr>
        <td>@nameof(ILinkContainerEvents.OnLinkPointerLeave)</td>
        <td>Event triggered when the pointer exits a link.</td>
        <td></td>
    </tr>
    <tr>
        <td>@nameof(ILinkContainerEvents.OnLinkWheel)</td>
        <td>Event triggered when the wheel is scrolled on a link.</td>
        <td></td>
    </tr>
    <tr>
        <td>@nameof(ILinkContainerEvents.OnLinkClicked)</td>
        <td>Event triggered when a link is clicked.</td>
        <td></td>
    </tr>
    <tr>
        <td>@nameof(ILinkContainerEvents.OnLinkDoubleClicked)</td>
        <td>Event triggered when a link is double-clicked.</td>
        <td></td>
    </tr>
    <tr>
        <td>@nameof(ILinkContainerEvents.NotifyLinkAdded)</td>
        <td>Notifies that a link was added.</td>
        <td></td>
    </tr>
    <tr>
        <td>@nameof(ILinkContainerEvents.NotifyLinkRemoved)</td>
        <td>Notifies that a link was removed.</td>
        <td></td>
    </tr>
    <tr>
        <td>@nameof(ILinkContainerEvents.NotifyLinkPointerDown)</td>
        <td>Notifies that the pointer is down on a nested link.</td>
        <td></td>
    </tr>
    <tr>
        <td>@nameof(ILinkContainerEvents.NotifyLinkPointerUp)</td>
        <td>Notifies that the pointer is up on a link.</td>
        <td></td>
    </tr>
    <tr>
        <td>@nameof(ILinkContainerEvents.NotifyLinkPointerEnter)</td>
        <td>Notifies that the pointer has entered a link.</td>
        <td></td>
    </tr>
    <tr>
        <td>@nameof(ILinkContainerEvents.NotifyLinkPointerLeave)</td>
        <td>Notifies that the pointer has exited a link.</td>
        <td></td>
    </tr>
    <tr>
        <td>@nameof(ILinkContainerEvents.NotifyLinkWheel)</td>
        <td>Notifies that the mouse wheel has scrolled within a link.</td>
        <td></td>
    </tr>
    <tr>
        <td>@nameof(ILinkContainerEvents.NotifyLinkClicked)</td>
        <td>Notifies that a nested link was clicked.</td>
        <td></td>
    </tr>
    <tr>
        <td>@nameof(ILinkContainerEvents.NotifyLinkDoubleClicked)</td>
        <td>Notifies that that a nested link was double clicked.</td>
        <td></td>
    </tr>
    </tbody>
</MudSimpleTable>

@code {

}