﻿<MudSimpleTable Elevation="0" Style="overflow-x: auto;">
    <thead>
    <tr>
        <th>Events</th>
        <th>Description</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>@nameof(INodeContainerEvents.OnNodeAdded)</td>
        <td>Event triggered when a node is added.</td>
        <td></td>
    </tr>
    <tr>
        <td>@nameof(INodeContainerEvents.OnNodeRemoved)</td>
        <td>Event triggered when a node is removed.</td>
        <td></td>
    </tr>
    <tr>
        <td>@nameof(INodeContainerEvents.OnNodePointerDown)</td>
        <td>Event triggered when the pointer is down on a nested node.</td>
        <td></td>
    </tr>
    <tr>
        <td>@nameof(INodeContainerEvents.OnNodePointerUp)</td>
        <td> Event triggered when the pointer is up on a nested node.</td>
        <td></td>
    </tr>
    <tr>
        <td>@nameof(INodeContainerEvents.OnNodePointerMove)</td>
        <td>Event triggered when the pointer moves within a node.</td>
        <td></td>
    </tr>
    <tr>
        <td>@nameof(INodeContainerEvents.OnNodePointerEnter)</td>
        <td>Event triggered when the pointer enters a node.</td>
        <td></td>
    </tr>
    <tr>
        <td>@nameof(INodeContainerEvents.OnNodePointerLeave)</td>
        <td>Event triggered when the pointer exits a node.</td>
        <td></td>
    </tr>
    <tr>
        <td>@nameof(INodeContainerEvents.OnNodeWheel)</td>
        <td>Event triggered when the wheel is scrolled on a node.</td>
        <td></td>
    </tr>
    <tr>
        <td>@nameof(INodeContainerEvents.OnNodeClicked)</td>
        <td>Event triggered when a node is clicked.</td>
        <td></td>
    </tr>
    <tr>
        <td>@nameof(INodeContainerEvents.OnNodeDoubleClicked)</td>
        <td>Event triggered when a node is double-clicked.</td>
        <td></td>
    </tr>
    <tr>
        <td>@nameof(INodeContainerEvents.NotifyNodeAdded)</td>
        <td>Notifies that a node was added.</td>
        <td></td>
    </tr>
    <tr>
        <td>@nameof(INodeContainerEvents.NotifyNodeRemoved)</td>
        <td>Notifies that a node was removed.</td>
        <td></td>
    </tr>
    <tr>
        <td>@nameof(INodeContainerEvents.NotifyNodePointerDown)</td>
        <td>Notifies that the pointer is down on a nested node.</td>
        <td></td>
    </tr>
    <tr>
        <td>@nameof(INodeContainerEvents.NotifyNodePointerUp)</td>
        <td>Notifies that the pointer is up on a node.</td>
        <td></td>
    </tr>
    <tr>
        <td>@nameof(INodeContainerEvents.NotifyNodePointerEnter)</td>
        <td>Notifies that the pointer has entered a node.</td>
        <td></td>
    </tr>
    <tr>
        <td>@nameof(INodeContainerEvents.NotifyNodePointerLeave)</td>
        <td>Notifies that the pointer has exited a node.</td>
        <td></td>
    </tr>
    <tr>
        <td>@nameof(INodeContainerEvents.NotifyNodeWheel)</td>
        <td>Notifies that the mouse wheel has scrolled within a node.</td>
        <td></td>
    </tr>
    <tr>
        <td>@nameof(INodeContainerEvents.NotifyNodeClicked)</td>
        <td>Notifies that thea nested node was clicked.</td>
        <td></td>
    </tr>
    <tr>
        <td>@nameof(INodeContainerEvents.NotifyNodeDoubleClicked)</td>
        <td>Notifies that that a nested node was double clicked.</td>
        <td></td>
    </tr>
    </tbody>
</MudSimpleTable>

@code {

}