<MudSimpleTable Elevation="0" Style="overflow-x: auto;">
    <thead>
    <tr>
        <th>Events</th>
        <th>Description</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>@nameof(IPortContainerEvents.OnPortAdded)</td>
        <td>Event triggered when a port is added.</td>
        <td></td>
    </tr>
    <tr>
        <td>@nameof(IPortContainerEvents.OnPortRemoved)</td>
        <td>Event triggered when a port is removed.</td>
        <td></td>
    </tr>
    <tr>
        <td>@nameof(IPortContainerEvents.OnPortPointerDown)</td>
        <td>Event triggered when the pointer is down on a nested port.</td>
        <td></td>
    </tr>
    <tr>
        <td>@nameof(IPortContainerEvents.OnPortPointerUp)</td>
        <td> Event triggered when the pointer is up on a nested port.</td>
        <td></td>
    </tr>
    <tr>
        <td>@nameof(IPortContainerEvents.OnPortPointerMove)</td>
        <td>Event triggered when the pointer moves within a port.</td>
        <td></td>
    </tr>
    <tr>
        <td>@nameof(IPortContainerEvents.OnPortPointerEnter)</td>
        <td>Event triggered when the pointer enters a port.</td>
        <td></td>
    </tr>
    <tr>
        <td>@nameof(IPortContainerEvents.OnPortPointerLeave)</td>
        <td>Event triggered when the pointer exits a port.</td>
        <td></td>
    </tr>
    <tr>
        <td>@nameof(IPortContainerEvents.OnPortWheel)</td>
        <td>Event triggered when the wheel is scrolled on a port.</td>
        <td></td>
    </tr>
    <tr>
        <td>@nameof(IPortContainerEvents.OnPortClicked)</td>
        <td>Event triggered when a port is clicked.</td>
        <td></td>
    </tr>
    <tr>
        <td>@nameof(IPortContainerEvents.OnPortDoubleClicked)</td>
        <td>Event triggered when a port is double-clicked.</td>
        <td></td>
    </tr>
    <tr>
        <td>@nameof(IPortContainerEvents.NotifyPortAdded)</td>
        <td>Notifies that a port was added.</td>
        <td></td>
    </tr>
    <tr>
        <td>@nameof(IPortContainerEvents.NotifyPortRemoved)</td>
        <td>Notifies that a port was removed.</td>
        <td></td>
    </tr>
    <tr>
        <td>@nameof(IPortContainerEvents.NotifyPortPointerDown)</td>
        <td>Notifies that the pointer is down on a nested port.</td>
        <td></td>
    </tr>
    <tr>
        <td>@nameof(IPortContainerEvents.NotifyPortPointerUp)</td>
        <td>Notifies that the pointer is up on a port.</td>
        <td></td>
    </tr>
    <tr>
        <td>@nameof(IPortContainerEvents.NotifyPortPointerEnter)</td>
        <td>Notifies that the pointer has entered a port.</td>
        <td></td>
    </tr>
    <tr>
        <td>@nameof(IPortContainerEvents.NotifyPortPointerLeave)</td>
        <td>Notifies that the pointer has exited a port.</td>
        <td></td>
    </tr>
    <tr>
        <td>@nameof(IPortContainerEvents.NotifyPortWheel)</td>
        <td>Notifies that the mouse wheel has scrolled within a port.</td>
        <td></td>
    </tr>
    <tr>
        <td>@nameof(IPortContainerEvents.NotifyPortClicked)</td>
        <td>Notifies that a nested port was clicked.</td>
        <td></td>
    </tr>
    <tr>
        <td>@nameof(IPortContainerEvents.NotifyPortDoubleClicked)</td>
        <td>Notifies that that a nested port was double clicked.</td>
        <td></td>
    </tr>
    </tbody>
</MudSimpleTable>

@code {

}