<MudCard style="-webkit-user-select: none;-ms-user-select: none;user-select: none;-webkit-user-drag: none;">
    <MudCardHeader>
        <MudText Typo="Typo.h6">Number Picker</MudText>
    </MudCardHeader>
    <MudCardContent>
        <MudNumericField T="decimal?" Label="Number" Variant="Variant.Outlined" Required="true" Immediate="true" @bind-Value="Node.NumberOutput"></MudNumericField>
    </MudCardContent>
</MudCard>

@code {
    [Parameter] public NumberNode Node { get; set; }
}