@page "/layer-overview"

<MudContainer MaxWidth="MaxWidth.False" Style="height:100%">
    <div style="display:flex;flex-direction: row;height:100%">
        <div style="height:100%;overflow:auto">
            <MudExpansionPanels MultiExpansion="true">
                <MudExpansionPanel Text=@("Layer overview") IsInitiallyExpanded="true">
                    <MudText Typo="Typo.body1">
                        Layers serve as containers for diagram models(nodes, groups,etc). They allow you to receive events from models within it, as well as some general operations:
                    </MudText>
                    <MudContainer>
                        <MudText Typo="Typo.h6">Toggle layer visibility: Show/Hide multiple models at once.</MudText>
                        <CodeHighlighter Language="csharp" Code=@($"layer.{nameof(Layer.IsVisible)}")></CodeHighlighter>
                    </MudContainer>
                    <MudContainer>
                        <MudText Typo="Typo.h6">Toggle select: Select/Unselect all models at once.</MudText>
                        <CodeHighlighter Language="csharp" Code=@($"layer.{nameof(Layer.SelectAll)}()")></CodeHighlighter>
                        <MudButton Color="Color.Primary" OnClick="ctx => diagram.Layers[0].SelectAll()">Select all in layer 1</MudButton>
                        <MudButton Color="Color.Primary" OnClick="ctx => diagram.Layers[1].SelectAll()">Select all in layer 2</MudButton>
                        <CodeHighlighter Language="csharp" Code=@($"layer.{nameof(Layer.UnselectAll)}()")></CodeHighlighter>
                        <MudButton Color="Color.Primary" OnClick="ctx => diagram.Layers[0].UnselectAll()">Unselect all in layer 1</MudButton>
                        <MudButton Color="Color.Primary" OnClick="ctx => diagram.Layers[1].UnselectAll()">Unselect all in layer 2</MudButton>
                    </MudContainer>
                    <MudContainer>
                        <MudSwitch Color="Color.Primary" T="bool" Label="Layer 1 visible" Value="@diagram.Layers[0].IsVisible" ValueChanged="ctx => diagram.Layers[0].IsVisible = ctx"></MudSwitch>
                        <MudSwitch Color="Color.Primary" T="bool" Label="Layer 2 visible" Value="@diagram.Layers[1].IsVisible" ValueChanged="ctx => diagram.Layers[1].IsVisible = ctx"></MudSwitch>
                    </MudContainer>

                </MudExpansionPanel>

            </MudExpansionPanels>
        </div>

        <div style="width:100%;height:100%">
            <DiagramContainer Diagram="diagram"></DiagramContainer>
        </div>
    </div>
</MudContainer>


@code {

    readonly Diagram diagram = new();


    protected override Task OnInitializedAsync()
    {
        var layer2 = new Layer();
        diagram.Layers.Add(layer2);
        foreach (var index in Enumerable.Range(1, 4))
        {
            var node = new Node<DefaultNodeComponent>();
            node.SetPosition(200 * index, 100);
            diagram.AddNode(node);
        }

        diagram.UseLayer(layer2);
        var group = new Group<DefaultGroupComponent>();
        foreach (var index in Enumerable.Range(1, 4))
        {
            var node = new Node<DefaultNodeComponent>();
            node.SetPosition(200 * index, 200);
            diagram.AddNode(node);
        }

        diagram.UseLayer(diagram.Layers[0]);
        return base.OnInitializedAsync();
    }

}