﻿.default-node {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    min-width: 100px;
    min-height: 100px;
    background: whitesmoke;
}

.selected {
    background: #696969;
}

/* On mouse-over, add a deeper shadow */
.default-node:hover {
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.8), 0 0 20px rgba(255, 255, 255, 0.8);
}