﻿@using System.Text
@implements IDisposable
<div class="@_class"></div>

@code {
    [Parameter] public required IGroup Group { get; set; }

    private const string GroupCssClass = "default-group";
    private string _class = GroupCssClass;
    private readonly StringBuilder _builder = new();

    /// <inheritdoc />
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);
        if (firstRender)
        {
            Group.OnSelectionChanged += SetGroupCssClass;
        }
        SetGroupCssClass();
    }

    private void SetGroupCssClass(IGroup arg1, bool arg2)
    {
        SetGroupCssClass();
    }

    private void SetGroupCssClass()
    {
        _builder.Clear();
        if (Group.Nodes.Count == 0 && Group.Groups.Count == 0)
        {
            _builder.Append($"{GroupCssClass} min-size");
            Group.SetSize(100,100);
        }
        else
        {
            _builder.Append(GroupCssClass);
            if (Group.IsSelected)
            {
                _builder.Append(" selected");
            }
        }
        _class = _builder.ToString();
    }

    /// <inheritdoc />
    public void Dispose()
    {
        Group.OnSelectionChanged -= SetGroupCssClass;
    }
}