﻿@using System.Text
@implements IDisposable
<div class="@_class"
     style="@(Style)"
     @onpointerleave="HandlePointerLeave"
     @onpointerdown="HandlePointerDown"
     @onpointerenter="HandlePointerEnter"
     @onpointermove="HandlePointerMove"
     @onpointerup="HandlePointerUp"
     @onclick="HandleClick"
     @ondblclick="HandleDoubleClick"
     @onpointerdown:stopPropagation>
</div>

@code {
    [Parameter] public required IPort Port { get; set; }

    private const string PortCssClass = "default-port";
    private string _class = PortCssClass;
    private readonly StringBuilder _builder = new();
    private bool _pointerIsDown = false;
    private readonly StringBuilder _sb = new();
    private string Style { get; set; } = null!;

    /// <inheritdoc />
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);
        if (firstRender)
        {
            Port.OnIncomingLinkAdded += LinkAdded;
            Port.OnIncomingLinkRemoved += LinkRemoved;
            Port.OnOutgoingLinkAdded += LinkAdded;
            Port.OnOutgoingLinkRemoved += LinkRemoved;
            Port.OnPointerEnter += OnPointerEnter;
            Port.OnPointerLeave += OnPointerLeave;
        }
    }


    private void LinkRemoved(ILink arg1)
    {
        SetNodeCssClass();
    }

    private void LinkAdded(ILink arg1)
    {
        SetNodeCssClass();
    }

    private void OnPointerEnter(IPort arg1, PointerEventArgs arg2)
    {
        SetNodeCssClass();
    }

    private void OnPointerLeave(IPort arg1, PointerEventArgs arg2)
    {
        SetNodeCssClass();
    }

    private void SetNodeCssClass()
    {
        _builder.Clear();
        _builder.Append(PortCssClass);
        if (Port.HasLinks)
        {
            _builder.Append(" linked");
        }
        else
        {
            _class = PortCssClass;
        }

        _class = _builder.ToString();
    }

    private Task HandleClick(MouseEventArgs e)
    {
        Port.NotifyClick(e);
        return Task.CompletedTask;
    }

    private Task HandleDoubleClick(MouseEventArgs e)
    {
        Port.NotifyDoubleClick(e);
        return Task.CompletedTask;
    }

    private Task HandlePointerDown(PointerEventArgs e)
    {
        _pointerIsDown = true;
        _sb.Clear();
        _sb.Append("cursor:grabbing;");
        Style = _sb.ToString();
        Port.NotifyPointerDown(e);
        return Task.CompletedTask;
    }

    private Task HandlePointerUp(PointerEventArgs e)
    {
        _sb.Clear();
        _pointerIsDown = false;
        Style = _sb.ToString();
        Port.NotifyPointerUp(e);
        return Task.CompletedTask;
    }

    private Task HandlePointerLeave(PointerEventArgs e)
    {
        _sb.Clear();
        if (!_pointerIsDown)
        {
            _sb.Append(Style);
            _sb.Append("cursor:grab;");
        }

        Style = _sb.ToString();
        Port.NotifyPointerLeave(e);
        return Task.CompletedTask;
    }

    private Task HandlePointerEnter(PointerEventArgs e)
    {
        _sb.Clear();
        _sb.Append(Style);
        _sb.Append("cursor:grab;");
        Style = _sb.ToString();
        Port.NotifyPointerEnter(e);
        return Task.CompletedTask;
    }

    private Task HandlePointerMove(PointerEventArgs e)
    {
        Port.NotifyPointerMove(e);
        return Task.CompletedTask;
    }

    /// <inheritdoc />
    public void Dispose()
    {
        Port.OnIncomingLinkAdded -= LinkAdded;
        Port.OnIncomingLinkRemoved -= LinkRemoved;
        Port.OnOutgoingLinkAdded -= LinkAdded;
        Port.OnOutgoingLinkRemoved -= LinkRemoved;
        Port.OnPointerEnter -= OnPointerEnter;
        Port.OnPointerLeave -= OnPointerLeave;
    }


}