﻿@using System.Text
@implements IDisposable
<div class="@_class"></div>

@code {
    [Parameter] public required Node<DefaultNodeComponent> Node { get; set; }

    private const string NodeCssClass = "default-node";
    private string _class = NodeCssClass;
    private readonly StringBuilder _builder = new();

    /// <inheritdoc />
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);
        if (firstRender)
        {
            Node.OnSelectionChanged += SetNodeCssClass;
        }
    }

    private void SetNodeCssClass(INode node, bool isSelected)
    {
        _builder.Clear();
        _builder.Append(NodeCssClass);
        if (isSelected)
        {
            _builder.Append(" selected");
        }

        _class = _builder.ToString();
    }

    /// <summary>
    /// 
    /// </summary>
    public void Dispose()
    {
        Node.OnSelectionChanged -= SetNodeCssClass;
    }

}