@implements IDisposable
@if (Link is not null)
{
    <svg style="width: 100%; height: 100%; overflow: visible;">
        <defs>
            <filter id="glow" x="-50%" y="-50%" width="200%" height="200%">
                <feGaussianBlur in="SourceGraphic" stdDeviation="3" result="blur"/>
                <feFlood flood-color="#C0C0C0" result="flood"/>
                <feComposite in="flood" in2="blur" operator="in" result="colorBlur"/>
                <feMerge>
                    <feMergeNode in="colorBlur"/>
                    <feMergeNode in="SourceGraphic"/>
                </feMerge>
            </filter>
        </defs>
        <path d="@SineWavePath"
              id="@(PathId)"
              style="pointer-events: auto"
              fill="none"
              stroke="@_strokeColor"
              stroke-width="@StrokeWidth"
              @onpointerleave="HandlePointerLeave"
              @onpointerdown="HandlePointerDown"
              @onpointerenter="HandlePointerEnter"
              @onpointermove="HandlePointerMove"
              @onpointerup="HandlePointerUp"
              @onwheel="ctx => Link.NotifyWheel(ctx)"
              @onclick="HandleClick"
              @ondblclick="HandleDoubleClick"/>
    </svg>
}

@code {

    /// <summary>
    /// Link object
    /// </summary>
    [Parameter]
    public required ILink Link { get; set; }

    /// <summary>
    /// The link container.
    /// </summary>
    [CascadingParameter(Name = nameof(LinkContainer))]
    public required LinkContainer Container { get; set; }

    private string _strokeColor = "#000000";

    /// <summary>
    /// Stroke color
    /// </summary>
    [Parameter]
    public string StrokeColor { get; set; } = "#000000";

    /// <summary>
    /// Selected stroke color
    /// </summary>
    [Parameter]
    public string SelectedStrokeColor { get; set; } = "#696969";

    /// <summary>
    /// Stroke width
    /// </summary>
    [Parameter]
    public int StrokeWidth { get; set; } = 4;

    [Inject] private IJSRuntime Js { get; set; } = null!;

    /// <summary>
    /// ID of the path element.
    /// </summary>
    public string PathId => $"link-path-{Link.Id}";

    /// <inheritdoc />
    protected override Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            Link.OnSelectionChanged += OnSelectionChanged;
        }

        return base.OnAfterRenderAsync(firstRender);
    }

    private void OnSelectionChanged(ILink arg1, bool arg2)
    {
        _strokeColor = arg1.IsSelected ? SelectedStrokeColor : StrokeColor;
    }

    private readonly int _waveHeight = 20; // Height of the wave, adjust as needed

    private string SineWavePath
    {
        get
        {
            var x1 = RelativeX1;
            var y1 = RelativeY1;
            var x2 = RelativeX2;
            var y2 = RelativeY2;

            // Calculate control points for a single sine wave
            var control1X = (x1 + x2) / 2;
            var control1Y = y1 - _waveHeight; // control point above the line
            var control2X = (x1 + x2) / 2;
            var control2Y = y2 + _waveHeight; // control point below the line

            // Using a simple cubic Bézier curve to draw a single wave
            return $"M {x1} {y1} C {control1X} {control1Y}, {control2X} {control2Y}, {x2} {y2}";
        }
    }

    private int RelativeX1 => Link.SourcePort.GetCenterCoordinates().CenterX - Container.PositionX;
    private int RelativeY1 => Link.SourcePort.GetCenterCoordinates().CenterY - Container.PositionY;
    private int RelativeX2 => Container.TargetX - Container.PositionX;
    private int RelativeY2 => Container.TargetY - Container.PositionY;


    private async Task HandleClick(MouseEventArgs e)
    {
        if (await Js.IsClickOnPath(e, PathId))
        {
            Link.NotifyClick(e);
        }
    }

    private async Task HandleDoubleClick(MouseEventArgs e)
    {
        if (await Js.IsClickOnPath(e, PathId))
        {
            Link.NotifyDoubleClick(e);
        }
    }

    private async Task HandlePointerDown(PointerEventArgs e)
    {
        if (await Js.IsClickOnPath(e, PathId))
        {
            Link.NotifyPointerDown(e);
        }
    }

    private async Task HandlePointerUp(PointerEventArgs e)
    {
        if (await Js.IsClickOnPath(e, PathId))
        {
            Link.NotifyPointerUp(e);
        }
    }

    private async Task HandlePointerLeave(PointerEventArgs e)
    {
        if (await Js.IsClickOnPath(e, PathId))
        {
            Link.NotifyPointerLeave(e);
        }
    }

    private async Task HandlePointerEnter(PointerEventArgs e)
    {
        if (await Js.IsClickOnPath(e, PathId))
        {
            Link.NotifyPointerEnter(e);
        }
    }

    private async Task HandlePointerMove(PointerEventArgs e)
    {
        if (await Js.IsClickOnPath(e, PathId))
        {
            Link.NotifyPointerMove(e);
        }
    }

    /// <inheritdoc />
    public void Dispose()
    {
        Link.OnSelectionChanged -= OnSelectionChanged;
    }

}