@implements IDisposable
@if (Link is not null)
{
    <svg style="width: 100%; height: 100%;overflow:visible;">
        <path d="@OrthogonalPath"
              style="pointer-events: auto"
              id="@(PathId)"
              fill="none"
              stroke="@_strokeColor"
              stroke-width="@StrokeWidth"
              @onpointerleave="HandlePointerLeave"
              @onpointerdown="HandlePointerDown"
              @onpointerenter="HandlePointerEnter"
              @onpointermove="HandlePointerMove"
              @onpointerup="HandlePointerUp"
              @onwheel="ctx => Link.NotifyWheel(ctx)"
              @onclick="HandleClick"
              @ondblclick="HandleDoubleClick"/>
    </svg>
}

@code {
    [Parameter] public required ILink Link { get; set; }

    [CascadingParameter(Name = nameof(LinkContainer))]
    public required LinkContainer Container { get; set; }

    private string _strokeColor = "black";

    [Parameter] public string StrokeColor { get; set; } = "black"; // Default stroke color

    [Parameter] public string SelectedStrokeColor { get; set; } = "lightyellow"; // Default stroke color

    [Parameter] public int StrokeWidth { get; set; } = 4; // Default stroke width
    
    [Inject]
    private IJSRuntime Js { get; set; } = null!;

    private string PathId => $"link-path-{Link.Id}";

    /// <inheritdoc />
    protected override Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            Link.OnSelectionChanged += OnSelectionChanged;
        }

        return base.OnAfterRenderAsync(firstRender);
    }

    private void OnSelectionChanged(ILink arg1, bool arg2)
    {
        if (arg1.IsSelected)
        {
            _strokeColor = SelectedStrokeColor;
        }
        else
        {
            _strokeColor = StrokeColor;
        }
    }

    private string OrthogonalPath
    {
        get
        {
            var sourceX = RelativeX1;
            var sourceY = RelativeY1;
            var targetX = RelativeX2;
            var targetY = RelativeY2;

            var midX = (sourceX + targetX) / 2;
            var midY = (sourceY + targetY) / 2;

            // Create a path that moves horizontally from the source, then vertically, then horizontally again to the target
            return $"M {sourceX} {sourceY} " +
                   $"H {midX} " +
                   $"V {targetY} " +
                   $"H {targetX}";
        }
    }


    private int RelativeX1 => Link.SourcePort.GetCenterCoordinates().CenterX - Container.PositionX;
    private int RelativeY1 => Link.SourcePort.GetCenterCoordinates().CenterY  - Container.PositionY;
    private int RelativeX2 => Container.TargetX - Container.PositionX;
    private int RelativeY2 => Container.TargetY - Container.PositionY;


    private async Task HandleClick(MouseEventArgs e)
    {
        if (await Js.IsClickOnPath(e, PathId))
        {
            Link.NotifyClick(e);
        }
    }

    private async Task HandleDoubleClick(MouseEventArgs e)
    {
        if (await Js.IsClickOnPath(e, PathId))
        {
            Link.NotifyDoubleClick(e);
        }
    }

    private async Task HandlePointerDown(PointerEventArgs e)
    {
        if (await Js.IsClickOnPath(e, PathId))
        {
            Link.NotifyPointerDown(e);
        }
    }

    private async Task HandlePointerUp(PointerEventArgs e)
    {
        if (await Js.IsClickOnPath(e, PathId))
        {
            Link.NotifyPointerUp(e);
        }
    }

    private async Task HandlePointerLeave(PointerEventArgs e)
    {
        if (await Js.IsClickOnPath(e, PathId))
        {
            Link.NotifyPointerLeave(e);
        }
    }

    private async Task HandlePointerEnter(PointerEventArgs e)
    {
        if (await Js.IsClickOnPath(e, PathId))
        {
            Link.NotifyPointerEnter(e);
        }
    }

    private async Task HandlePointerMove(PointerEventArgs e)
    {
        if (await Js.IsClickOnPath(e, PathId))
        {
            Link.NotifyPointerMove(e);
        }
    }

    /// <inheritdoc />
    public void Dispose()
    {
        Link.OnSelectionChanged -= OnSelectionChanged;
    }

}