@using Blazored.Diagrams.Diagrams.Behaviours
<MudCard Style="width:500px;height:500px;">
    <DiagramContainer Diagram="_diagram"></DiagramContainer>
</MudCard>


@code {
    readonly Diagram _diagram = new();
    readonly NamedNode _clickNode = new();
    readonly NamedNode _doubleClickNode = new();
    [Inject] ISnackbar Snackbar { get; set; }

    protected override Task OnInitializedAsync()
    {
        _diagram.Behaviours.Get<ModelMoveBehaviour>()!.IsEnabled = false;
        _diagram.Behaviours.Get<PanBehaviour>()!.IsEnabled = false;
        _diagram.Options.ZoomOptions.Enabled = false;
        _clickNode.Name = "Node 1";
        _clickNode.Color = "#20c997";
        _clickNode.Message = "Click me!";
        _doubleClickNode.Name = "Node 2";
        _doubleClickNode.Color = "#ffc107";
        _doubleClickNode.Message = "Double click me!";
        _clickNode.SetPosition(100, 100);
        _doubleClickNode.SetPosition(300, 100);
        _diagram.AddNode(_clickNode);
        _diagram.AddNode(_doubleClickNode);
        _clickNode.OnClick += HandleClickEvent;
        _doubleClickNode.OnDoubleClick += HandleDoubleClickEvent;
        _diagram.OnNodeClicked += HandleDiagramNodeClickEvent;
        return base.OnInitializedAsync();
    }

    public void Dispose()
    {
        _diagram.OnNodePointerUp -= HandleDiagramNodeClickEvent;
        _clickNode.OnPointerUp -= HandleClickEvent;
    }

    private void HandleDiagramNodeClickEvent(INode n, MouseEventArgs arg2)
    {
        if (n is NamedNode namedNode)
            Snackbar.Add($"[Diagram event] - {namedNode.Name} triggered a click event event.", Severity.Info);
    }

    private void HandleClickEvent(INode n, MouseEventArgs arg2)
    {
        if (n is NamedNode namedNode)
            Snackbar.Add($"[Node event] -  {namedNode.Name} triggered a click event.", Severity.Success);
    }

    private void HandleDoubleClickEvent(INode n, MouseEventArgs arg2)
    {
        if (n is NamedNode namedNode)
            Snackbar.Add($"[Node event] -  {namedNode.Name} triggered the db click event.", Severity.Warning);
    }

}