﻿@using System.Globalization
@using Blazored.Diagrams.Services.Observers
@using System.Text
@implements IAsyncDisposable
@if (_diagram is not null)
{
    <CascadingValue Value="_diagram">
        <div
            @onpointerleave="ctx => Diagram.NotifyPointerLeave(ctx)"
            @onpointerdown="ctx => Diagram.NotifyPointerDown(ctx)"
            @onpointerenter="ctx => Diagram.NotifyPointerEnter(ctx)"
            @onpointermove="ctx => Diagram.NotifyPointerMove(ctx)"
            @onpointerup="ctx => Diagram.NotifyPointerUp(ctx)"
            @onclick="ctx => Diagram.NotifyClick(ctx)"
            @ondblclick="ctx => Diagram.NotifyDoubleClick(ctx)"
            @onkeydown="ctx => Diagram.NotifyKeyDown(ctx)"
            @onkeyup="ctx => Diagram.NotifyKeyUp(ctx)"
            tabindex="-1"
            id="@(ContainerId)"
            @ref="_componentRef"
            style="@(GetContainerStyle())">
            <div style=@($"transform: translate({Diagram.PanX}px,{Diagram.PanY}px) scale({Diagram.Zoom.ToString(_nfi)});transition: transform 0.05s ease-out;")>
                @foreach (var layer in _diagram.Layers)
                {
                    <LayerContainer Layer="layer"></LayerContainer>
                }
            </div>
            @ChildContent
        </div>
    </CascadingValue>
}

@code {

    /// <summary>
    ///     Used to add additional components on top of the diagram.
    /// </summary>
    [Parameter]
    public RenderFragment ChildContent { get; set; } = null!;


    /// <summary>
    /// Diagram instance to show in the UI.
    /// </summary>
    [Parameter]
    [EditorRequired]
    public required IDiagram Diagram
    {
        get => _diagram!;
        set
        {
            if (_diagram != value)
            {
                if (_diagram != null)
                {
                    _diagram.OnRedraw -= Redraw;
                }

                _diagram = value;
                _diagram.OnRedraw += Redraw;
                InvokeAsync(StateHasChanged);
            }
        }
    }

    private IDiagram? _diagram;

    [Inject] private IResizeObserver ResizeObserver { get; set; } = null!;

    /// <summary>
    /// <see cref="IJSRuntime"/>
    /// </summary>
    [Inject]
    public required IJSRuntime Js { get; set; }

    readonly NumberFormatInfo _nfi = new();
    readonly StringBuilder _sb = new();
    private ElementReference _componentRef;

    /// <summary>
    /// ID of the diagram container
    /// </summary>
    public string ContainerId => $"diagram-container-{Diagram.Id}";

    /// <inheritdoc />
    protected override Task OnInitializedAsync()
    {
        _nfi.NumberDecimalSeparator = ".";
        _nfi.NumberDecimalDigits = 3;
        return base.OnInitializedAsync();
    }

    /// <inheritdoc />
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await ResizeObserver.ObserveAsync(ContainerId, OnSizeChanged);
            var rect = await Js.GetBoundingClientRect(_componentRef);
            Diagram.SetPosition((int)rect.Left, (int)rect.Top);
            Diagram.SetSize((int)(rect.Width), (int)(rect.Height));
            await Js.HandleWheelEvent(ContainerId, DotNetObjectReference.Create(this));
        }

        await base.OnAfterRenderAsync(firstRender);
    }

    private void OnSizeChanged(ResizeObserverEntry obj)
    {
        Diagram.SetSize((int)(obj.Width), (int)(obj.Height));
    }

    private string GetContainerStyle()
    {
        _sb.Clear();
        _sb.Append(Diagram.Options.StyleOptions.ContainerStyle);
        if (Diagram.Options.StyleOptions.GridEnabled)
        {
            _sb.Append(Diagram.Options.StyleOptions.GridStyle);
        }

        return _sb.ToString();
    }

    private void Redraw()
    {
        InvokeAsync(StateHasChanged);
    }

    /// <inheritdoc />
    public async ValueTask DisposeAsync()
    {
        _diagram!.OnRedraw -= Redraw;
        await ResizeObserver.UnobserveAsync(ContainerId);
    }

    /// <summary>
    /// Handles the wheel events from JS.
    /// Implemented this way due to an open blazor issue.
    /// </summary>
    /// <param name="args"></param>
    [JSInvokable]
    public void OnZoom(WheelEventData args)
    {
        Diagram.NotifyWheel(args);
        StateHasChanged();
    }

    public class WheelEventData
    {
        public double DeltaX { get; set; }
        public double DeltaY { get; set; }
        public double ClientX { get; set; }
        public double ClientY { get; set; }
        public bool CtrlKey { get; set; }
        public bool ShiftKey { get; set; }
        public bool AltKey { get; set; }


        /// <summary>
        /// Implicit operator to convert WheelEventData to WheelEventArgs.
        /// </summary>
        /// <param name="data"></param>
        /// <returns></returns>
        public static implicit operator WheelEventArgs(WheelEventData data)
        {
            return new WheelEventArgs
            {
                DeltaX = data.DeltaX,
                DeltaY = data.DeltaY,
                ClientX = data.ClientX,
                ClientY = data.ClientY,
                CtrlKey = data.CtrlKey,
                ShiftKey = data.ShiftKey,
                AltKey = data.AltKey
            };
        }
    }

}