﻿@implements IDisposable
@if (_group is not null && Group.IsVisible)
{
    <div style="@($"left:{Group.PositionX}px;top:{Group.PositionY}px;position:absolute;width:{Group.Width}px;height:{Group.Height}px")"
         @onpointerleave="ctx => _group.NotifyPointerLeave(ctx)"
         @onpointerdown="ctx => _group.NotifyPointerDown(ctx)"
         @onpointerenter="ctx => _group.NotifyPointerEnter(ctx)"
         @onpointermove="ctx => _group.NotifyPointerMove(ctx)"
         @onpointerup="ctx => _group.NotifyPointerUp(ctx)"
         @onwheel="ctx => _group.NotifyWheel(ctx)"
         @onclick="ctx => _group.NotifyClick(ctx)"
         @ondblclick="ctx => _group.NotifyDoubleClick(ctx)"
         @onpointerdown:stopPropagation
         id="@(ContainerId)">
        <DynamicComponent Type="@(_group.ComponentType)" Parameters="_group.Parameters"></DynamicComponent>
    </div>
    @foreach (var node in _group.Nodes)
    {
        <NodeContainer Node="node"></NodeContainer>
    }

    @foreach (var port in _group.Ports)
    {
        <PortContainer Port="port"></PortContainer>
    }

    @foreach (var group in _group.Groups)
    {
        <GroupContainer Group="group"></GroupContainer>
    }
}

@code {

    /// <summary>
    ///     Cascading diagram from <see cref="DiagramContainer"/>
    /// </summary>
    [CascadingParameter]
    public required IDiagram Diagram { get; set; }

    /// <summary>
    ///     Group instance to be presented in the UI.
    /// </summary>
    [Parameter]
    [EditorRequired]
    public required IGroup Group
    {
        get => _group;
        set
        {
            if (_group != value)
            {
                if (_group != null)
                {
                    _group.OnRedraw -= Redraw;
                }

                _group = value;
                _group.OnRedraw += Redraw;
                StateHasChanged();
            }
        }
    }

    private IGroup _group = null!;

    /// <summary>
    /// ID of the group container
    /// </summary>
    public string ContainerId => $"group-container-{_group.Id}";

    void Redraw()
    {
        InvokeAsync(StateHasChanged);
    }

    void Redraw(IGroup group)
    {
        Redraw();
    }

    void IDisposable.Dispose()
    {
        _group.OnRedraw -= Redraw;
        _group.OnRedraw -= Redraw;
    }

}