@using Blazored.Diagrams.Services.Virtualization
@inject IVirtualizationService VirtualizationService
@implements IDisposable
@if (_layer is not null)
{
    <div>
        @* Rendering order matters *@
        @if (_layer.IsVisible)
        {
            @foreach (var node in VirtualizationService.GetVisibleItems(Diagram, _layer.Nodes))
            {
                <NodeContainer Node="node"></NodeContainer>
            }

            @foreach (var group in VirtualizationService.GetVisibleItems(Diagram, _layer.Groups))
            {
                <GroupContainer Group="group"></GroupContainer>
            }

            @foreach (var link in _layer.AllLinks)
            {
                <LinkContainer Link="link"></LinkContainer>
            }
        }
    </div>
}

@code {
    [CascadingParameter] public IDiagram Diagram { get; set; } = null!;

    [Parameter]
    [EditorRequired]
    public required ILayer Layer
    {
        get => _layer;
        set
        {
            if (_layer != value)
            {
                if (_layer != null)
                {
                    _layer.OnRedraw -= Redraw;
                }

                _layer = value;
                _layer.OnRedraw += Redraw;
                InvokeAsync(StateHasChanged);
            }
        }
    }

    private ILayer _layer = null!;

    private void Redraw()
    {
        InvokeAsync(StateHasChanged);
    }

    /// <inheritdoc />
    public void Dispose()
    {
        _layer.OnRedraw -= Redraw;
    }

}

