﻿@using Blazored.Diagrams.Services.Observers
@implements IAsyncDisposable
@if (_link is not null && _link.IsVisible && _link.SourcePort is not null)
{
    <CascadingValue Value=@(this) TValue="LinkContainer" Name="@nameof(LinkContainer)">
        <div style="@ContainerStyle" id="@($"link-container-{_link.Id}")" @ref="_componentRef">
            <DynamicComponent Type=_link.ComponentType Parameters=@_link.Parameters></DynamicComponent>
        </div>
    </CascadingValue>
}


@code {

    /// <summary>
    ///     Cascading diagram from <see cref="DiagramContainer"/>
    /// </summary>
    [CascadingParameter]
    public IDiagram? Diagram { get; set; }

    [Inject] private IResizeObserver ResizeObserver { get; set; } = null!;

    /// <summary>
    /// <see cref="IJSRuntime"/>
    /// </summary>
    [Inject]
    public required IJSRuntime Js { get; set; }

    /// <summary>
    ///     Link instance to be presented in the UI.
    /// </summary>
    [Parameter]
    public required ILink Link
    {
        get => _link;
        set
        {
            if (_link != value)
            {
                if (_link != null)
                {
                    _link.OnRedraw -= Redraw;
                }

                _link = value;
                _link.OnRedraw += Redraw;
                StateHasChanged();
            }
        }
    }

    private ILink _link = null!;
    private ElementReference _componentRef;

    /// <summary>
    /// ID of the link container
    /// </summary>
    public string ContainerId => $"link-container-{_link.Id}";


    /// <summary>
    /// Current container style.
    /// </summary>
    public string ContainerStyle => $"position:absolute;left:{PositionX}px; top:{PositionY}px;width:{Width}px;height:{Height}px;pointer-events:none";


    /// <summary>
    /// X coordinate of the target position.
    /// </summary>
    public int TargetX => _link.TargetPort?.GetCenterCoordinates().CenterX ?? _link.TargetPositionX;

    /// <summary>
    /// Y coordinate of the end of the link.
    /// </summary>
    public int TargetY => _link.TargetPort?.GetCenterCoordinates().CenterY ?? _link.TargetPositionY;


    /// <summary>
    /// X coordinate of the start of the link
    /// </summary>
    public int PositionX => Math.Min(_link.SourcePort.GetCenterCoordinates().CenterX, TargetX);

    /// <summary>
    ///  Y coordinate of the start of the link
    /// </summary>
    public int PositionY => Math.Min(_link.SourcePort.GetCenterCoordinates().CenterY, TargetY);

    private int Width => Math.Abs(_link.SourcePort.GetCenterCoordinates().CenterX - TargetX);

    private int Height => Math.Abs(_link.SourcePort.GetCenterCoordinates().CenterY - TargetY);

    /// <inheritdoc />
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await ResizeObserver.ObserveAsync(ContainerId, OnSizeChanged);
            var size = await Js.GetBoundingClientRect(_componentRef);
            _link.SetSize((int)(size.Width), (int)(size.Height));
        }

        await base.OnAfterRenderAsync(firstRender);
    }

    private void OnSizeChanged(ResizeObserverEntry obj)
    {
        _link.SetSize((int)(obj.Width), (int)(obj.Height));
    }

    private void Redraw()
    {
        InvokeAsync(StateHasChanged);
    }


    /// <inheritdoc />
    public async ValueTask DisposeAsync()
    {
        await ResizeObserver.DisposeAsync();
        _link.OnRedraw -= Redraw;
    }

}