﻿@using Blazored.Diagrams.Services.Observers
@implements IAsyncDisposable
@if (_node is not null && Node.IsVisible)
{
    <div style="@($"left:{Node.PositionX}px;top:{Node.PositionY}px;position:absolute;")"
         @onpointerleave="ctx => _node.NotifyPointerLeave(ctx)"
         @onpointerdown="ctx => _node.NotifyPointerDown(ctx)"
         @onpointerenter="ctx => _node.NotifyPointerEnter(ctx)"
         @onpointermove="ctx => _node.NotifyPointerMove(ctx)"
         @onpointerup="ctx => _node.NotifyPointerUp(ctx)"
         @onwheel="ctx => _node.NotifyWheel(ctx)"
         @onclick="ctx => _node.NotifyClick(ctx)"
         @ondblclick="ctx => _node.NotifyDoubleClick(ctx)"
         @onpointerdown:stopPropagation
         @ref="_componentRef" id="@(ContainerId)">
        <DynamicComponent Type="@(_node.ComponentType)" Parameters="@(_node.Parameters)"></DynamicComponent>
    </div>
    @foreach (var port in _node.Ports)
    {
        <PortContainer Port="port"></PortContainer>
    }
}

@code {

    /// <summary>
    ///     Cascading diagram from <see cref="DiagramContainer"/>
    /// </summary>
    [CascadingParameter]
    public IDiagram? Diagram { get; set; }

    /// <summary>
    ///     Node instance to be presented in the UI.
    /// </summary>
    [Parameter]
    [EditorRequired]
    public required INode Node
    {
        get => _node;
        set
        {
            if (_node != value)
            {
                if (_node != null)
                {
                    _node.OnRedraw -= Redraw;
                }

                _node = value;
                _node.OnRedraw += Redraw;
                StateHasChanged();
            }
        }
    }

    private INode _node = null!;

    [Inject] private IResizeObserver ResizeObserver { get; set; } = null!;

    /// <summary>
    ///  <see cref="IJSRuntime"/>
    /// </summary>
    [Inject]
    public required IJSRuntime Js { get; set; }

    private ElementReference _componentRef;

    /// <summary>
    /// ID of the node container
    /// </summary>
    public string ContainerId => $"node-container-{_node.Id}";

    /// <inheritdoc />
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await ResizeObserver.ObserveAsync(ContainerId, OnSizeChanged);
            var size = await Js.GetBoundingClientRect(_componentRef);
            _node.SetSize((int)(size.Width), (int)(size.Height));
        }

        await base.OnAfterRenderAsync(firstRender);
    }

    private void OnSizeChanged(ResizeObserverEntry obj)
    {
        _node.SetSize((int)(obj.Width), (int)(obj.Height));
    }

    void Redraw(INode node)
    {
        Redraw();
    }

    void Redraw()
    {
        InvokeAsync(StateHasChanged);
    }

    /// <inheritdoc />
    public async ValueTask DisposeAsync()
    {
        _node.OnRedraw -= Redraw;
        await ResizeObserver.UnobserveAsync(ContainerId);
    }

}