﻿@using Blazored.Diagrams.Services.Observers
@using System.Text
@implements IAsyncDisposable;
@if (_port is not null)
{
    <div style="@(Style)"
         @onpointerleave="HandlePointerLeave"
         @onpointerdown="HandlePointerDown"
         @onpointerenter="HandlePointerEnter"
         @onpointermove="HandlePointerMove"
         @onpointerup="HandlePointerUp"
         @onwheel="ctx => _port.NotifyWheel(ctx)"
         @onclick="HandleClick"
         @ondblclick="HandleDoubleClick"
         @onpointerdown:stopPropagation
         @ref="_componentRef" id="@(ContainerId)">
        <DynamicComponent Type="@(_port.ComponentType)" Parameters="@(_port.Parameters)"></DynamicComponent>
    </div>
}

@code {

    /// <summary>
    /// ID of the port container.
    /// </summary>
    public string ContainerId => $"port-container-{Port.Id}";

    /// <summary>
    ///     Cascading diagram from <see cref="DiagramContainer"/>
    /// </summary>
    [CascadingParameter]
    public IDiagram? Diagram { get; set; }

    /// <summary>
    ///     Port instance to be rendered in the UI.
    /// </summary>
    [Parameter]
    [EditorRequired]
    public required IPort Port
    {
        get => _port;
        set
        {
            if (_port != value)
            {
                if (_port is not null)
                {
                    _port.OnRedraw -= OnRedraw;
                    _port.OnVisibilityChanged -= AddVisibilityStyle;
                }

                _port = value;
                _port.OnRedraw += OnRedraw;
                _port.OnVisibilityChanged += AddVisibilityStyle;
                StateHasChanged();
            }
        }
    }

    private void AddVisibilityStyle(IPort arg1, bool arg2)
    {
        if (!arg1.IsVisible)
        {
            Style += "display:none;";
        }
        else
        {
            Style = GetDefaultStyle();
        }
    }

    private IPort _port = null!;

    /// <summary>
    /// <see cref="IJSRuntime"/>
    /// </summary>
    [Inject]
    public required IJSRuntime Js { get; set; }

    [Inject] private IResizeObserver ResizeObserver { get; set; } = null!;

    private string Style { get; set; } = null!;
    private StringBuilder _sb = new();


    private const string StyleTemplate = "left:{0}px;top:{1}px;position:absolute;";
    private ElementReference _componentRef;

    /// <inheritdoc />
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await ResizeObserver.ObserveAsync(ContainerId, OnSizeChanged);
            var size = await Js.GetBoundingClientRect(_componentRef);
            SetSize((int)size.Width, (int)size.Height);
            Style = GetDefaultStyle();
            AddVisibilityStyle(_port, _port.IsVisible);
        }

        await base.OnAfterRenderAsync(firstRender);
    }

    private void OnSizeChanged(ResizeObserverEntry obj)
    {
        SetSize((int)obj.Width, (int)obj.Height);
    }

    private void SetSize(int width, int height)
    {
        _port.SetSize(width, height);
    }

    private string GetDefaultStyle()
    {
        return string.Format(StyleTemplate, Port.PositionX, Port.PositionY);
    }

    private void OnRedraw(IPort obj)
    {
        OnRedraw();
    }

    private void OnRedraw()
    {
        Style = GetDefaultStyle();
        AddVisibilityStyle(_port, _port.IsVisible);
        InvokeAsync(StateHasChanged);
    }

    private Task HandleClick(MouseEventArgs e)
    {
        _port.NotifyClick(e);
        return Task.CompletedTask;
    }

    private Task HandleDoubleClick(MouseEventArgs e)
    {
        _port.NotifyDoubleClick(e);
        return Task.CompletedTask;
    }

    private Task HandlePointerDown(PointerEventArgs e)
    {
        _port.NotifyPointerDown(e);
        return Task.CompletedTask;
    }

    private Task HandlePointerUp(PointerEventArgs e)
    {
        _port.NotifyPointerUp(e);
        return Task.CompletedTask;
    }

    private Task HandlePointerLeave(PointerEventArgs e)
    {
        _port.NotifyPointerLeave(e);
        return Task.CompletedTask;
    }

    private Task HandlePointerEnter(PointerEventArgs e)
    {
        _port.NotifyPointerEnter(e);
        return Task.CompletedTask;
    }

    private Task HandlePointerMove(PointerEventArgs e)
    {
        _port.NotifyPointerMove(e);
        return Task.CompletedTask;
    }

    /// <inheritdoc />
    public async ValueTask DisposeAsync()
    {
        _port.OnRedraw -= OnRedraw;
        _port.OnVisibilityChanged -= AddVisibilityStyle;
        await ResizeObserver.UnobserveAsync(ContainerId);
    }

}