@using Blazored.Diagrams.Services.Serialization
<MudTooltip Text="Add Node">
    <MudIconButton Icon="@Icons.Material.Filled.CropSquare" OnClick="AddNode" Variant="Variant.Filled">Add Node</MudIconButton>
</MudTooltip>
<MudTooltip Text="Add Group">
    <MudIconButton Icon="@Icons.Material.Filled.Square" OnClick="AddGroup" Variant="Variant.Filled">Add Group</MudIconButton>
</MudTooltip>

<MudTooltip Text="Save">
    <MudIconButton Icon="@Icons.Material.Filled.Save" OnClick="Save" Variant="Variant.Filled">Save Diagram</MudIconButton>
</MudTooltip>
<MudTooltip Text="Load Diagram">
    <MudIconButton Icon="@Icons.Material.Filled.Upload" OnClick="Load" Variant="Variant.Filled">Load Diagram</MudIconButton>
</MudTooltip>

@code {
    [CascadingParameter] public Diagram Diagram { get; set; }
    [Inject] IDiagramSerializer DiagramSerializer { get; set; }
    [Inject] IDialogService DialogService { get; set; }

    [Parameter] public EventCallback<Diagram> OnDiagramLoaded { get; set; }

    private void AddNode(MouseEventArgs arg)
    {
        var node = new NamedNode();
        Diagram.AddNode(node);
        node.CenterIn(Diagram);
    }

    private void AddGroup(MouseEventArgs obj)
    {
        var group = new Group<DefaultGroupComponent>();
        Diagram.AddGroup(group);
        group.CenterIn(Diagram);
    }

    private void Save(MouseEventArgs obj)
    {
        var result = DiagramSerializer.SaveAsJson(Diagram);
        DialogService.ShowMessageBox("JSON Diagram", result);
    }

    private async Task Load(MouseEventArgs obj)
    {
        var reference = await DialogService.ShowAsync<LoadDiagramDialog>();
        var result = await reference.Result;

        if (!result.Canceled && result.Data is Diagram d)
        {
            await OnDiagramLoaded.InvokeAsync(d);
        }
    }

}