<div style="width:100%;height:100%">
    <DiagramContainer Diagram="Diagram"></DiagramContainer>
</div>

@code {
    [Parameter] public IDiagram Diagram { get; set; } = new Diagram();

    protected override async Task OnInitializedAsync()
    {
        var node1 = new Node<DefaultNodeComponent>();
        node1.SetPosition(100, 100);
        var port1 = new Port<DefaultPortComponent>();
        port1.Position = PortPosition.Right;
        var node2 = new Node<DefaultNodeComponent>();
        var port2 = new Port<DefaultPortComponent>();
        port2.Position = PortPosition.Left;
        node2.SetPosition(400, 100);
        node1.Ports.Add(port1);
        node2.Ports.Add(port2);
        Diagram.AddNode(node1);
        Diagram.AddNode(node2);

        var group = new Group<DefaultGroupComponent>();
        var groupPort = new Port<DefaultPortComponent>();
        groupPort.Position = PortPosition.Left;

        var node1Port = new Port<DefaultPortComponent>();
        node1Port.Position = PortPosition.Right;
        var groupNode1 = new Node<DefaultNodeComponent>();
        groupNode1.SetPosition(700, 700);
        groupNode1.Ports.Add(node1Port);

        var node2Port = new Port<DefaultPortComponent>();
        node2Port.Position = PortPosition.Left;
        var groupNode2 = new Node<DefaultNodeComponent>();
        groupNode2.SetPosition(900, 900);
        groupNode2.Ports.Add(node2Port);
        group.Nodes.Add(groupNode1);
        group.Nodes.Add(groupNode2);
        group.Ports.Add(groupPort);
        Diagram.AddGroup(group);
        await base.OnInitializedAsync();
    }

}