<MudNavMenu>
    <MudNavLink Href="/overview">Overview</MudNavLink>
    <MudNavGroup Title="Diagram">
        <MudNavLink Href="/diagram-overview">Overview</MudNavLink>
        <MudNavLink Href="/diagram-events">Events</MudNavLink>
        <MudNavLink Href="/diagram-behaviours">Behaviours</MudNavLink>
    </MudNavGroup>
    <MudNavGroup Title="Layer">
        <MudNavLink Href="/layer-overview">Overview</MudNavLink>
        <MudNavLink Href="/layer-events">Events</MudNavLink>
        <MudNavLink Href="/layer-behaviours">Behaviours</MudNavLink>
    </MudNavGroup>

    <MudNavGroup Title="Node">
        <MudNavLink Href="/node-overview">Overview</MudNavLink>
        <MudNavLink Href="/node-events">Events</MudNavLink>
        <MudNavLink Href="/node-behaviours">Behaviours</MudNavLink>
    </MudNavGroup>

    <MudNavGroup Title="Group">
        <MudNavLink Href="/group-overview">Overview</MudNavLink>
        <MudNavLink Href="/group-events">Events</MudNavLink>
        <MudNavLink Href="/group-behaviours">Behaviours</MudNavLink>
    </MudNavGroup>

    <MudNavGroup Title="Port">
        <MudNavLink Href="/port-overview">Overview</MudNavLink>
        <MudNavLink Href="/port-events">Events</MudNavLink>
        <MudNavLink Href="/port-behaviours">Behaviours</MudNavLink>
    </MudNavGroup>

    <MudNavGroup Title="Link">
        <MudNavLink Href="/link-overview">Overview</MudNavLink>
        <MudNavLink Href="/link-events">Events</MudNavLink>
        <MudNavLink Href="/link-behaviours">Behaviours</MudNavLink>
    </MudNavGroup>

    <MudNavGroup Title="Examples">
        <MudNavLink Href="/editor">Playground</MudNavLink>
        <MudNavLink Href="/CalculatorExample">Simple calculator</MudNavLink>
        @* <MudNavLink Href="/drag-and-drop">Drag and drop</MudNavLink> *@
        <MudNavLink Href="/organigram-example">Drag and drop</MudNavLink>
    </MudNavGroup>
</MudNavMenu>

@code {

}