@if (SelectedItem is not null)
{
    <MudCard>
        <MudCardHeader>

            <MudText>Edit Link</MudText>
        </MudCardHeader>
        <MudCardContent>
            <MudSelect T="Type" Value="@(SelectedItem.ComponentType)" ValueChanged="ctx => OnSelectChanged(SelectedItem, ctx)">
                <MudSelectItem T="Type" Value="@(typeof(LinkLineComponent))">Line</MudSelectItem>
                <MudSelectItem T="Type" Value="@(typeof(LinkCurvedComponent))">Curve</MudSelectItem>
                <MudSelectItem T="Type" Value="@(typeof(LinkOrthogonalComponent))">Orthogonal</MudSelectItem>
            </MudSelect>
        </MudCardContent>

    </MudCard>
}

@code {


    [Parameter] public ILink? SelectedItem { get; set; }


    private void Select(ILink link)
    {
        link.IsSelected = true;
    }

    private void OnSelectChanged(ILink link, Type ctx)
    {
        var name = ctx.Name;
        switch (name)
        {
            case nameof(LinkLineComponent):
                link.SetComponent(typeof(LinkLineComponent));
                break;
            case nameof(LinkCurvedComponent):
                link.SetComponent(typeof(LinkCurvedComponent));
                break;
            case nameof(LinkOrthogonalComponent):
                link.SetComponent(typeof(LinkOrthogonalComponent));
                break;
        }
    }

}