@using Blazored.Diagrams.Services.Serialization
<MudFab Color="Color.Secondary" StartIcon="@Icons.Material.Filled.Upload" OnClick="Load" Style="position:fixed; bottom:50px;right:150px"/>

@code {
    [CascadingParameter] public IDiagram Diagram { get; set; }
    [Inject] public IDiagramSerializer Serializer { get; set; }
    [Inject] IDialogService DialogService { get; set; }

    [Parameter] public EventCallback<Diagram> OnDiagramLoaded { get; set; }

    private async Task Load(MouseEventArgs obj)
    {
        var reference = await DialogService.ShowAsync<LoadDiagramDialog>();
        var result = await reference.Result;

        if (!result.Canceled && result.Data is Diagram d)
        {
            await OnDiagramLoaded.InvokeAsync(d);
        }
    }

}