﻿@using Blazored.Diagrams.Services.Serialization
<MudDialog>
    <DialogContent>
        <MudTextField T="string" AutoGrow=true @bind-Value=JsonString Required=true Label="Diagram JSON string"></MudTextField>
    </DialogContent>
    <DialogActions>
        <MudButton OnClick="Cancel">Cancel</MudButton>
        <MudButton Color="Color.Primary" OnClick="Submit">Ok</MudButton>
    </DialogActions>
</MudDialog>

@code {
    [CascadingParameter] private MudDialogInstance MudDialog { get; set; }
    [Inject] private IDiagramSerializer DiagramSerializer { get; set; }
    [Inject] private ISnackbar Snackbar { get; set; }

    private string JsonString;

    private void Submit()
    {
        try
        {
            var diagram = DiagramSerializer.LoadFromJson<Diagram>(JsonString);
            MudDialog.Close(DialogResult.Ok(diagram));
        }
        catch (Exception e)
        {
            Snackbar.Add(e.Message, Severity.Error);
        }
    }

    private void Cancel() => MudDialog.Cancel();
}