<MudCard>
    <MudCardHeader>
        <MudText>Edit Node</MudText>
        <MudSpacer></MudSpacer>
    </MudCardHeader>
    <MudCardContent>
        <MudText>ID: @Node.Id</MudText>
        <MudButton OnClick="AddPort" Variant="Variant.Filled">Add port</MudButton>
        <MudSpacer></MudSpacer>
        <MudButton OnClick="DeleteNode" Color="Color.Error" Variant="Variant.Filled">Delete Node</MudButton>
    </MudCardContent>

</MudCard>

@code {
    [Parameter] public INode Node { get; set; }
    [CascadingParameter] IDiagram Diagram { get; set; }

    private void AddPort(MouseEventArgs obj)
    {
        foreach (var position in Enum.GetValues<PortPosition>())
        {
            foreach (var alignment in Enum.GetValues<PortAlignment>())
            {
                if (Node.Ports.Any(x => x.Position == position && x.Alignment == alignment) || position == PortPosition.Custom) continue;
                var port = new Port<DefaultPortComponent>();
                port.Alignment = alignment;
                port.Position = position;
                Node.Ports.Add(port);
                return;
            }
        }
    }

    private void DeleteNode(MouseEventArgs obj)
    {
        Diagram.RemoveNode(Node);
    }

}