@page "/organigram-example"
@using Blazored.Diagrams.Diagrams.Behaviours
<DiagramContainer Diagram="_diagram">
    <SaveButton></SaveButton>
</DiagramContainer>

@code {
    private Diagram _diagram = new();

    protected override Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            _diagram.Behaviours.TryGet<LinkCreationBehavior>(out var behavior);
            behavior!.LinkComponentType = typeof(LinkOrthogonalComponent);
            string[] jobs =
            [
                "Mark - CEO",
                "Alex - CFO",
                "Henry - CTO",
                "Samantha - Project Manager",
                "Brody - Product Owner - Project X",
                "Richard - Product Owner - Project Y",
                "Developer",
                "Developer",
                "Developer",
                "Developer"
            ];
            foreach (var job in jobs)
            {
                var node = new OrganigramNode() { Job = job };
                var port = new Port<DefaultPortComponent>()
                {
                    Position = PortPosition.Bottom,
                    Alignment = PortAlignment.Center,
                };
                var port2 = new Port<DefaultPortComponent>()
                {
                    Position = PortPosition.Top,
                    Alignment = PortAlignment.Center,
                };
                node.Ports.Add(port);
                node.Ports.Add(port2);
                _diagram.AddNode(node);
            }
        }

        return base.OnAfterRenderAsync(firstRender);
    }

}