﻿@page "/editor"
@using Blazored.Diagrams.Diagrams.Behaviours
@implements IDisposable
<CascadingValue Value="_diagram">
    <MudToolBar Dense="true">
        <DiagramEditor OnDiagramLoaded="OnDiagramLoaded"></DiagramEditor>
        @* <MudTooltip Text="Add Layer"> *@
        @*     <MudIconButton Icon="@Icons.Material.Outlined.Add" Color="Color.Inherit" OnClick="AddLayer"/> *@
        @* </MudTooltip> *@
        @* <MudTooltip Text="Remove Layer"> *@
        @*     <MudIconButton Icon="@Icons.Material.Outlined.Delete" Color="Color.Inherit" OnClick="DeleteLayer" Disabled="SelectedItem is not ILayer"/> *@
        @* </MudTooltip> *@
        @* <MudDivider Vertical="true" DividerType="DividerType.FullWidth"></MudDivider> *@
        @* <MudSpacer></MudSpacer> *@
    </MudToolBar>
    <div style="display:flex;flex-direction:row;width:100%; height:100%">
        <div style="display:flex;flex-direction:column;height:100%;width:20%">

            @* <LayerDisplay Diagram="_diagram" OnSelectionChanged="SelectionChanged"></LayerDisplay> *@

            @if (selectedLink is not null)
            {
                <LinkEditor SelectedItem="@selectedLink"></LinkEditor>
            }
            @if (SelectedPort is not null)
            {
                <PortEditor Port="SelectedPort"></PortEditor>
            }
            @if (SelectedNode is not null)
            {
                <NodeEditor Node="SelectedNode"></NodeEditor>
            }
            @if (SelectedGroup is not null)
            {
                <GroupEditor Group="SelectedGroup"></GroupEditor>
            }


        </div>
        <DiagramContainer Diagram="_diagram">
        </DiagramContainer>
    </div>
</CascadingValue>

@code {
    Diagram _diagram = new();
    IPort? SelectedPort;
    ILink? selectedLink;
    INode? SelectedNode;
    IGroup? SelectedGroup;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            // _diagram.Behaviours.Add(new PortPopBehaviour(_diagram));
            GroupWithNodesAndPorts();
            _diagram.Behaviours.Get<ModelSelectBehaviour>()!.MultiSelectEnabled = true;
            _diagram.OnPortClicked += OnPortClicked;
            _diagram.OnLinkClicked += OnLinkClicked;
            _diagram.OnNodeClicked += OnNodeClicked;
            _diagram.OnGroupClicked += OnGroupClicked;
        }

        await base.OnAfterRenderAsync(firstRender);
    }

    private void OnNodeClicked(INode arg1, MouseEventArgs arg2)
    {
        SelectedPort = null;
        selectedLink = null;
        SelectedGroup = null;
        SelectedNode = arg1;
        StateHasChanged();
    }

    private void OnLinkClicked(ILink arg1, MouseEventArgs arg2)
    {
        selectedLink = arg1;
        SelectedPort = null;
        SelectedNode = null;
        SelectedGroup = null;
        StateHasChanged();
    }

    private void OnPortClicked(IPort arg1, MouseEventArgs arg2)
    {
        SelectedPort = arg1;
        selectedLink = null;
        SelectedNode = null;
        SelectedGroup = null;
        StateHasChanged();
    }

    private void GroupWithNodesAndPorts()
    {
        var diagramNode1 = new Node<DefaultNodeComponent>();
        diagramNode1.Ports.Add(new Port<DefaultPortComponent>());
        var diagramNode2 = new Node<DefaultNodeComponent>();
        _diagram.AddNode(diagramNode1);
        _diagram.AddNode(diagramNode2);

        var group1 = new Group<DefaultGroupComponent>();
        var group2 = new Group<DefaultGroupComponent>();
        group2.Padding = 50;
        var nestedGroup = new Group<DefaultGroupComponent>();
        nestedGroup.Padding = 25;
        var node1 = new Node<DefaultNodeComponent>();
        node1.SetPosition(100, 100);
        var node2 = new Node<DefaultNodeComponent>();
        node2.SetPosition(200, 200);
        var node3 = new Node<DefaultNodeComponent>();
        node3.SetPosition(300, 300);
        var node4 = new Node<DefaultNodeComponent>();
        node4.SetPosition(400, 400);
        var node5 = new Node<DefaultNodeComponent>();
        node5.SetPosition(500, 600);
        var node6 = new Node<DefaultNodeComponent>();
        node6.SetPosition(800, 800);
        var port1 = new Port<DefaultPortComponent>();
        port1.Position = PortPosition.Right;
        var port2 = new Port<DefaultPortComponent>();
        port2.Position = PortPosition.Left;
        var port3 = new Port<DefaultPortComponent>();
        port3.Position = PortPosition.Right;
        port3.Alignment = PortAlignment.Center;

        var port4 = new Port<DefaultPortComponent>();
        port4.Position = PortPosition.Left;
        port4.Alignment = PortAlignment.Center;

        _diagram.AddGroup(group1);
        _diagram.AddGroup(group2);
        group1.Nodes.Add(node1);
        group1.Nodes.Add(node2);
        group2.Nodes.Add(node3);
        group2.Nodes.Add(node4);

        nestedGroup.Nodes.Add(node5);
        nestedGroup.Nodes.Add(node6);
        group2.Groups.Add(nestedGroup);

        node1.Ports.Add(port1);
        node2.Ports.Add(port2);

        group1.Ports.Add(port3);
        group2.Ports.Add(port4);
        StateHasChanged();
    }

    public void Dispose()
    {
        _diagram.OnPortClicked -= OnPortClicked;
        _diagram.OnLinkClicked -= OnLinkClicked;
        _diagram.OnNodeClicked -= OnNodeClicked;
        _diagram.OnGroupClicked -= OnGroupClicked;
    }

    private void OnGroupClicked(IGroup arg1, MouseEventArgs arg2)
    {
        SelectedPort = null;
        selectedLink = null;
        SelectedNode = null;
        SelectedGroup = arg1;
        StateHasChanged();
    }

    private void OnDiagramLoaded(Diagram obj)
    {
        _diagram.OnPortClicked -= OnPortClicked;
        _diagram.OnLinkClicked -= OnLinkClicked;
        _diagram.OnNodeClicked -= OnNodeClicked;
        _diagram.OnGroupClicked -= OnGroupClicked;
        _diagram = obj;
        _diagram.OnPortClicked += OnPortClicked;
        _diagram.OnLinkClicked += OnLinkClicked;
        _diagram.OnNodeClicked += OnNodeClicked;
        _diagram.OnGroupClicked += OnGroupClicked;
        _diagram.NotifyRedraw();
        StateHasChanged();
    }

}